*{
	margin:0px;
	padding:0px;
}
body{
	background:#fff;
}
nav{
	height:40px;
	line-height:40px;
	text-align:center;
	width:100%;
	background:#333;
	color:#fff;
}
h1{
	height:45px;
	line-height:45px;
	width:100%;
	font-size:16px;
	color:#3a3a3a;
	background:#fff;
	text-indent:20px;
}
.address_main h1 span{
	float:left;
}
.address_main h1 img{
	height:25px;
	width: 25px;
	margin-top:10px;
	margin-left:10px;
	float:left;
}
.line{
	height:10px;
	width:100%;
	background:#f1f1f1;
}
.address_body ul{
	margin-top:-10px;
}
.address_body li{
	float: left;
    padding: 5px 0px;
    width:100%;
	border-bottom:1px solid #f1f1f1;
}
.address_body li p{
	line-height: 1.5;
    width: 76%;
    padding-left: 21px;
    margin-top: 10px;
    margin-bottom: 5px;
    float: left;
}
.address_body li img{
	height:25px;
	width:22px;
	float:right;
	margin-top: 8px;
	margin-right:20px;
}
.add_address ul{
	margin-top:10px;
}
.add_address ul li{
	padding-left:20px;
	margin-bottom:10px;
}
.add_address ul li span{
	width:80px;
	display:inline-block;
	float:left;
}
.add_address ul li input{
	padding-left:5px;
	height:32px;
	width:200px;
}
select{
	width:70px;
	height:32px;
}
.add_address ul li textarea{
	height:70px;
	width:65%;
	line-height:1.2;
	padding:5px;
}
.sure{
	height:45px;
	line-height:45px;
	width:100%;
	background:#f6521f;
	color:#fff;
	text-align:center;
	position:fixed;
	bottom:0px;
}
.add_2{
	display:none;
}