body{
	margin:0;
}
div{
	box-sizing: border-box;
}
.navbar-nav{
    margin:0px -50px !important;
}
pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    letter-spacing: 1px;
    line-height: 19px;
}
.class{
	border-bottom: 1px solid #CCCCCC;
	padding: 22px 12px 10px 12px;
}
.class_img{
	float: left;
	width:40%;
	min-height: 1px;
}
.class_right{
	float: left;
	width:60%;
	padding-left:10px;
}
.list_title{
	
	font-size: 15px;
	margin:0 0 12px 0;
	color:#000;
	font-weight: bold;
}
.list_centent{
	position:relative;
	margin:0 0 3px 0;
	color:#797979;
	font-size:11px;
	height:38px;
	overflow: hidden;
}
.dise{
	padding-right: 6px;
	width:2em;
	position:absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
	background:#FFF;
}
.nav_list{
	width:100%;
	height:50px;
	position: fixed;
	top:50px;
	background:#FFF;
	z-index: 999;
}
.nav_list p{
	width:33.33%;
	height:50px;
	float: left;
	text-align: center;
	line-height:50px;
	margin:0;
	color:#666;
}
.nav_list .down_li{
	border-bottom: 2px solid #f5521f;
	color:#f5521f;
}
.list_buttom{
	margin:0;
}
.list_buttom span{
    display: inline-block;
    line-height: 13px;
    color: #f5521f;
    font-size: 13px;
}
.riub{
	border-radius: 3px;
	width:64px;
	text-align: center;
	line-height: 28px;
    height: 28px;
    font-size: 13px;
    background: #f5521f;
    color: #fff;
    text-decoration: none;
    float: right;
}
.chon{
	border-radius: 3px;
	width:64px;
	text-align: center;
	line-height: 28px;
    height: 28px;
    font-size: 13px;
    background:#C4C4C4;
    text-decoration: none;
    float: right;
}
.classImg:after{
	clear: both;
	display: block;
	content: '';
}
#offset{
    color: #B9B8B8;
    font-size: 12px;
    display: block;
    line-height: 13px;
    margin-top: 2px;
    font-weight: 400;
}
/*支付*/
.black-bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 998;
    top:0;
}
.tip {
    position: fixed;
     display: none; 
    width: 60%;
    height: 350px;
    margin-top: 30%;
    margin-left: 20%;
    background: white;
}
.text-bg {
    width: 100%;
    height: 30px;
    background-color: #f60;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
.text-bg2 {
    width: 90%;
    /* width: 260px; */
    margin-left: 5%;
    margin-top: 20px;
    font-size: 10px;
}

#qrcode {
    /*display: none;*/
    margin-top: 20px;
    margin-left: 10%;
    /*position: fixed;*/
    z-index: 1000;
}
#pay-done {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    background: #f60;
    color: white;
    font-size: 14px;
    border-radius: 15px;
}
/*提交订单*/
.tijiao{
	width: 90%;
	margin:0px auto;
	background: #bbbbbb;
	border:1px solid #eaeae9;
	padding-top: 30px;
	border-radius: 5px;
	z-index: 888;
}
.tijiao hr{
	margin:0;
}
.danmu{
	background:#ccc;
	width:100%;
	height:100%;
	position:fixed;
	z-index: 999;
}
.bla{
	background:#fff;
	padding:5px 8px;
	font-size:12px;
}
.bla h4{
	margin:0;
	font-size: 13px;
}

.diqu p{
	display: inline-block;

}
.city{
	display: inline-block;
}
.lian p{
	width:68px;
	display: inline-block;
	float: left;
}
.shiok{
	margin:5px 0;
}
.lian textarea{
	resize:none;width:60%;height: 60px;
}
.ren p,.dian p,.dian p,.you p,.yiui p{
	display:inline-block;
	margin:5px 0;
	width:64px;
}
.you input{
	width:80px
}
#city{
	display: inline;
}
.tijai{
	display:inline-block;
	background: #f5521f;
	color:#fff;
	width:80px;
	text-align: center;
	padding: 5px 10px;	
}
.qixu{
	float:right;
	display:inline-block;
	background: #ccc;
	color:#fff;
	width: 80px;
	text-align: center;
	padding: 5px 10px;	
}
.bla input,.bla textarea,.bla select{
	border: #e7eaec 1px solid;
}
.bla input,.bla select{
	font-size: 13px;
	box-sizing: content-box;
    padding: 5px 3px;
}
.bla textarea{
	box-sizing: content-box;
    padding: 5px;
}

.zong p,.hui p,.jiag p{
	margin:0;
}
.xinana{
	position: relative;
	border:1px solid #ccc;
	padding: 5px ;
}
.yiuio{
	width:100%;
}
.after{
	position: absolute;
	content: "";
	display: block;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#c5c5c5;
	opacity: 0.5;
}
.shiok input{
    margin: 0;
    vertical-align: middle;
    margin-left: 5px;
}
.jiang{
	
}
.jiang p{
	display: inline-block;
    margin: 5px 0;
    width: 64px;
}
.jiang input{
	width:80px;
	font-size: 13px;
    box-sizing: content-box;
    padding: 5px 3px;
    border: #e7eaec 1px solid;
}
