body{
	margin:0;
}
div{
	box-sizing: border-box;
}
p,pre{
	margin:0;
}
pre{
	color: #999;
	font-size: 13px;
	white-space: pre-wrap;
    word-wrap: break-word;
    margin:15px 0;
    letter-spacing: 1px;
    line-height: 19px;
}
.bu{
	background:#000;
	height:40px;
	text-align: center;
}
.bu span{
	color:#fff;
	line-height: 40px;
}
.bannar{
	width:100%;
	min-height: 150px;
}
.ace{
	margin:0 20px;
}
.h3{
	font-size:16px;
	font-weight: bold;
	margin: 15px 0;
}
.ocInfo{
	font-size: 13px;
	background:url(../images/ri.png) no-repeat;
	background-size: 15px 15px;
	padding-left:20px;
	margin:15px 0; 
}
.ocTeacher{
	font-size: 13px;
	background: url(../images/xue.png) no-repeat;
	background-size: 18px 15px;
	padding-left:20px;
	margin:15px 0; 
}
.ocDesct{
	border-top: 1px solid #ccc;
	padding:15px 0;
	font-weight:  bold;
}
.ocHandle{
	width:100%;
	position:fixed;
	bottom: 0;
	height:50px;
	line-height: 50px;
	background:#f1f1f1;
}
.chonw{
	display:inline-block;
	float: right;
	background: #C4C4C4;
	color: #f1f1f1;
	width:94px;
	text-align: center;
}
.fonf{
	padding-left:10px;
	color: #f5521f;
}
.yuanjia{
	text-decoration: line-through;
	font-size: 12px;
	padding-left:10px;
}
.ocPlayBack{
	cursor: pointer;
	width:85px;
	text-align: center;
	background: #f5521f;
	color:#FFF;
	float:right;
	display: inline-block;

}
.gon{
	display: inline-block;
	font-size: 12px;
	color:#0db7f5 !important;
	border: 1px solid;
	margin-left:10px;
	padding:0 10px;
}
.mian{
	display: inline-block;
	font-size: 12px;
	color:#00CC00!important;
	border: 1px solid;
	margin-left:10px;
	padding:0 10px;
}
.shou{
	display: inline-block;
	font-size: 12px;
	color:#f5521f !important;
	border:1px solid;
	margin-left:10px;
	padding:0 10px;
}
/*支付*/
.black-bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 998;
    top:0;
}
.tip {
    position: fixed;
     display: none; 
    width: 60%;
    height: 350px;
    margin-top: 30%;
    margin-left: 20%;
    background: white;
}
.text-bg {
    width: 100%;
    height: 30px;
    background-color: #f60;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
.text-bg2 {
    width: 90%;
    /* width: 260px; */
    margin-left: 5%;
    margin-top: 20px;
    font-size: 10px;
}

#qrcode {
    /*display: none;*/
    margin-top: 20px;
    margin-left: 10%;
    /*position: fixed;*/
    z-index: 1000;
}
#pay-done {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    background: #f60;
    color: white;
    font-size: 14px;
    border-radius: 15px;
}
/*提交订单*/
.tijiao{
	width: 90%;
	margin:0px auto;
	background: #bbbbbb;
	border:1px solid #eaeae9;
	padding-top: 30px;
	border-radius: 5px;
	z-index: 888;
}
.danmu{
	background:#ccc;
	width:100%;
	height:100%;
	position:fixed;
	z-index: 999;
}
.bla{
	background:#fff;
	padding:5px 8px;
	font-size:12px;
}
.bla h4{
	margin:5px 0;
	font-size: 13px;
}

.diqu p{
	display: inline-block;

}
.city{
	display: inline-block;
}
.lian p{
	width:68px;
	display: inline-block;
	float: left;
}
.shiok{
	margin:8px 0;
}
.lian textarea{
	resize:none;width:60%;height: 60px;
}
.ren p,.dian p,.dian p,.you p,.yiui p{
	display:inline-block;
	margin:5px 0;
	width:64px;
}
.you input{
	width:80px;
}
#city{
	display: inline;
}
.tijai{
	display:inline-block;
	background: #f5521f;
	color:#fff;
	width:80px;
	text-align: center;
	padding: 5px 10px;	
}
.qixu{
	float:right;
	display:inline-block;
	background: #ccc;
	color:#fff;
	width: 80px;
	text-align: center;
	padding: 5px 10px;	
}
.bla input,.bla textarea,.bla select{
	border: #e7eaec 1px solid;
}
.bla input,.bla select{
	font-size: 13px;
	box-sizing: content-box;
    padding: 5px 3px;
}
.bla textarea{
	box-sizing: content-box;
    padding: 5px;
}

.zong p,.hui p,.jiag p{
	margin:5px 0;
}
.xinana{
	position: relative;
	border:1px solid #ccc;
	padding: 5px ;
}
.yiuio{
	width:100%;
}
.after{
	position: absolute;
	content: "";
	display: block;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#c5c5c5;
	opacity: 0.5;
}
.shiok input{
    margin: 0;
    vertical-align: middle;
    margin-left: 5px;
}
.jiang p{
	display: inline-block;
    margin: 5px 0;
    width: 64px;
}
.jiang input{
	font-size: 13px;
    box-sizing: content-box;
    padding: 5px 3px;
    border: #e7eaec 1px solid;
    width: 80px
}
.rentBtn{
	width: 85px;
    text-align: center;
    background: #12b7f7;
    color: #FFF;
    float: right;
}