
.body{
	position: relative;
	left: 0;
	width: 100%;
	height: auto;
}
#test-listen{
	width: 100%;
	height: 180px;
	background: #ffffff;

}
#test-listen img{
	padding-left: 20px;
	padding-top: 17px;
	padding-bottom: 10px;
	width: 90%;
	height: auto;
	margin: 0 auto;
}
.banner-title{
	width: 90%;
	font-size: 16px;
	position: absolute;
	left: 5%;
	top:15%;
}
.button{
	background-color: #ff6600;
	border-radius: 5px;
	position: absolute;
	left: 10%;
	top: 65%;
	width: 100px;
	height: 30px;
	line-height: 30px;
	display: block;
	text-indent: 10px;
	color: #ffffff;
	font-size: 16px;
}
.button img{
	width: 8px;
	height: 10px;
}
.standard-title{
	float: left;
	width: 100%;
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 10px;
}
.standard-title span:first-child{
	display: inline-block;
	float: left;
	height: 30px;
	width: 2%;
	background-color: #ff6600;
}
.standard-title span:last-child{
	display: inline-block;
	float: left;
	padding-left: 5%;
	height: 30px;
	width: 98%;
	background-color: #f0efef;
}
#standard{
	margin-top: 20px;
	clear: both;
	width: 100%;
	height: 170px;
}
.standard-content{
	clear: both;
	width: 96%;
	padding: 20px 2%;
}
.standard-back{
	text-align: center;
	width: 33%;
	float: left;
}
.standard-back img{
	width: 80%;
	height: 80%;
}
.standard-c{
	font-size: 14px;
	padding-top: 10px;
}
#shezhi{
	height: 300px;
	width: 100%;
}
.keshi{
	width: 90%;
	margin: 30px auto;
	height: 280px;

}
.table{
	clear: both;
	text-align: center;
	width: 360px;
	height: 252px;
	border:1px solid #ccc;
}
.table-left{
	float: left;
	width: 49%;
	height: 250px;
	border-right: 1px solid #ccc;
}
.table-right{
	float: right;
	height: 250px;
	width: 50%;
}
.top{
	border-bottom: 1px solid #ccc;
}
.top p:first-child{
	padding: 10px;
	color: #ff6600;
	font-size: 16px;
}
.top p:last-child{
	font-size: 14px;
}
.table-bot{
	font-size: 14px;
	padding: 20px;
}