body{
	background-color: #f3f3f3;
}
.steps-num, .steps-word{
	display: flex;
	font-size: 12px;
}
.steps-num .eve-num{
	width: 25%;
	text-align: center;
	position: relative;
}
.steps-num .eve-num span{
	display: inline-block;
	border: 1px solid #f60;
	width: 15px;
    height: 15px;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
}
.steps-num .eve-num img{
    position: absolute;
    width: 50%;
    top: 32%;
    right: -25%;
}
.steps-word > div{
	width: 25%;
	text-align: center;
}
.process-steps{
	color: #f60;
}
.process, .description, .address{
	background-color: #fff;
	padding: 10px;
	margin-bottom: 15px;
}
.body .address{
	padding-right: 0;
}
.process > p, .description > p, .address > p{
	margin: 0 0 15px 0;
}
.description > ul{
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #666;
}
.address-add{
	display: none;
}
.address-add .address-add-title{
	display: inline-block;
}
.address-add .address-add-title span{
	display: block;
    font-size: 14px;
    line-height: 24px;
    margin: 5px 0;
}
.address-add .address-add-input{
	display: inline-block;
	vertical-align: top;
}
.address-add .address-add-input input, .address-add .address-add-input textarea{
    display: block;
    margin: 5px 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid #ccc;
}
.address-add-btn{
	display: inline-block;
    width: 18px;
    height: 18px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    border-radius: 3px;
    margin-left: 10px;
}
.address-add-btn-orange{
    background-color: #f60;	
}
.address-add-btn-gray{
	background-color: #ccc;
}
.address-list{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.address-list li{
	border-bottom: 1px solid #ccc;
}
.address-list li p{
	background-image: url('../images/address-unchecked.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 15px 15px;
	padding-left: 20px;
}
.address-list li .unchecked{
	background-image: url('../images/address-unchecked.png');
}
.address-list li .checked{
	background-image: url('../images/address-checked.png');
}
.body .submit{
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #f3f3f3;
	width: 100%;
	height: 54px;
}
.body .submit button{
	color: #fff;
    background-color: #f60;
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    margin: 7px auto;
    display: block;
}

.can-not-back, .back-deposit-view{
	display: none;
	background-color: #fff;
	border-radius: 5px;
	position: fixed;
	width: 80%;
	top: 80px;
	left: 10%;
	z-index: 10003;
	text-align: center;
}
.can-not-back img, .back-deposit-view img{
	width: 30%;
	margin: 30px 35%;
}
.can-not-back > p, .back-deposit-view > p{
	margin: 0 0 15px 0;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.can-not-back button{
	width: -webkit-calc(100% - 60px);
	width: -moz-calc(100% - 60px);
	width: calc(100% - 60px);
	color: #fff;
	background-color: #f60;
	margin: 15px 0;
	border: none;
	padding: 10px 0;
	border-radius: 5px;
}
.mask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 10001;
}

/*支付*/
.black-bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 998;
    top:0;
}
.tip {
    position: fixed;
     display: none; 
    width: 60%;
    height: 350px;
    margin-top: 30%;
    margin-left: 20%;
    background: white;
}
.text-bg {
    width: 100%;
    height: 30px;
    background-color: #f60;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}
.text-bg2 {
    width: 90%;
    /* width: 260px; */
    margin-left: 5%;
    margin-top: 20px;
    font-size: 10px;
}

#qrcode {
    /*display: none;*/
    margin-top: 20px;
    margin-left: 10%;
    /*position: fixed;*/
    z-index: 1000;
}
#pay-done {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    background: #f60;
    color: white;
    font-size: 14px;
    border-radius: 15px;
}