body{
	background-image: url(../images/login-reg-bgimg.png);
	background-position: center;
    background-repeat: no-repeat;
    color: #efefef;
    
}

*{
    padding: 0;
    margin: 0;
}

input{
	background: none;
	border: none;
	font-size: 14px;
	color: #eee;
	width: 100%;
}

::-moz-placeholder { color: #eee; font-size: 14px; font-weight: normal;    font-family: Helvetica,Tahoma,Arial,Hiragino Sans GB,\\51AC\9752\9ED1\4F53,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,SimSun,\\5B8B\4F53,Heiti,\\9ED1\4F53,sans-serif, FontAwesome;}
::-webkit-input-placeholder { color:#eee; font-size: 14px; font-weight: normal;    font-family: Helvetica,Tahoma,Arial,Hiragino Sans GB,\\51AC\9752\9ED1\4F53,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,SimSun,\\5B8B\4F53,Heiti,\\9ED1\4F53,sans-serif, FontAwesome;}
:-ms-input-placeholder { color:#eee; font-size: 14px; font-weight: normal;    font-family: Helvetica,Tahoma,Arial,Hiragino Sans GB,\\51AC\9752\9ED1\4F53,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,SimSun,\\5B8B\4F53,Heiti,\\9ED1\4F53,sans-serif, FontAwesome;}

.tab:after{
	content: '';
	display: block;
	clear: both;
}

.tab div{
    float: left;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    margin-left: 20px;
}

.tab .active{
	border-bottom: 3px solid #f60;
}

.reg-content{
    margin-top: 44px;
    padding-left: 20px;
    padding-right: 0;
}

.reg-content .reg-form p{
	background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 38px;
    line-height: 44px;
    border-bottom: 1px solid #efefef;
    padding: 10px 0 10px 40px;
    position: relative;
}

.reg-content .reg-form .birthday-input{
    position: absolute;
    background-color: #333;
    opacity: 0;
    left: 30px;
    top: 20px;
    z-index: 999;
}

.reg-content .reg-form .reg-username{
    background-image: url(../images/username-phone.png);
}

.reg-content .reg-form .reg-password{
    background-image: url(../images/password.png);
}

.reg-content .reg-form .reg-msg{
	background-image: url(../images/msg-pic.png);
}

.reg-birthday span{
    font-size: 14px;
    color: #eee;
}

.reg-submit{
    position: fixed;
    left: 0;
    bottom: 20px;
    display: block;
    width: 100%;
}

.reg-submit button{
    border: none;
    background-color: #f60;
    border-radius: 5px;
    width: calc(100% - 40px);
    height: 44px;
    color: #fefefe;
    font-size: 16px;
    margin-left: 20px;
}

.reg-msg .msg-input{
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: calc(100% - 150px);
}

.reg-msg button{
    border: 1px solid #efefef;
    background: none;
    color: #efefef;
    padding: 5px;
    float: right;
    border-radius: 3px;
    margin: 9px 20px 0 0;
}