body,div,nav,ul,li,dl,dd,dt,p,span,img{
	margin:0;padding:0;
}
body{
	background: #efefef;
}
.forum_list{
	height:120px;
	width:100%;
	background:#fff;
	margin-bottom:15px;
}
.forum_body{
	padding-bottom:35px;
}
.forum_left{
	width:25%;
	height:120px;
	float:left;
	text-align:center;
}
.forum_left img{
	width:70%;
	margin-top:20px;
	border-radius:3px;
	max-width:80px;
}
.forum_center{
	width:52%;
	height:120px;
	float:left;

}
.forum_center h2{
	color:#3a3a3a;
	font-size:16px;
	margin-top:20px;
}
.forum_center p{
	color:#797979;
	font-size:16px;
	margin-bottom:5px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.forum_center p span{
	color:#b9b8b8;
	display:inline-block;
	height:20px;
	line-height:20px;
	margin-top:5px;
	margin-right:17px;
	font-size:12px;

}
.forum_right{
	width:23%;
	height:120px;
	float:left;
}
.forum_right p{
	height:35px;
	line-height:35px;
	margin-top:15px;
	color:#797979;
	font-size:14px;
}
