.video_cont{
	width: 100%;
	margin-top: 10px;
	height: 225px;
}
.video_cont video{
	width: 100%;
	height: 225px;
}
.video_list_show{
	width: 100%;
	height: auto;
}
.video_2{
	width: 94%;
	height: 200px;
	margin:10px auto;
	border-bottom: 1px solid #ccc;
}
.video_2 img{
	width: 100%;
	height: auto;
}
.video_time{
	float: right;
	color: #FFA500;
}
.video_1st{
	width: 100%;
	height: 150px;
}