@font-face {
	font-family:pinfang;
	src: url('PingFang_Bold.ttf');
}
@font-face {
	font-family:pinfangzhon;
	src: url('PingFang_Medium.ttf');
}
body{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
	background-color: #fcfcfc;
	font-family: Helvetica,Tahoma,Arial,Hiragino Sans GB,\\51AC\9752\9ED1\4F53,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STXihei,\\534E\6587\7EC6\9ED1,SimSun,\\5B8B\4F53,Heiti,\\9ED1\4F53,sans-serif, FontAwesome;
}

input, button, textarea{
	outline: none;
}

li{
	list-style: none;
}

a{
	font-size: 16px;
	color: #999;
	line-height: 22px;
	text-decoration: none;
	position: relative;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10000;
	width: 100%;
	background-color: #fff;
	line-height: 44px;
	height: 44px;
	border-top: 1px solid #ccc;
}

footer:after{
	content: '\20';
	display: block;
	clear: both;
}

footer a{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	display: block;
	padding-top: 2px;
}

footer a img{
	width: 18px;
	vertical-align: middle;
}

.body{
	margin-bottom: 64px;
}

.clear{
	clear: both;

}

.clearBoth:after{
  content: '\20';
  display: block;
  clear: both;
}

.toast{
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
	font-size: 14px;
	position: fixed;
	bottom: -36px;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 10002;
	opacity: 0;
}

#mask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
	z-index: 10003;
}

/************confirm**************/
.ui-confirm {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 10005;
}
.ui-confirm.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.ui-confirm-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #fff;
  border-radius: .4em .4em 0 0;
  text-align: center;
/*  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.ui-confirm-container p {
  padding: 3em 1em;
  color: #333;
  clear: both;
  margin-bottom: 0;
}

#ui-confirm-confirm{
	height: 50px;
	line-height: 50px;
	background: #fafafa;
	color: #00aefd;
	display: block;
	width: 50%;
	float: left;
	border-radius: 0 0 0 .4em;
	border-top: solid 1px #e1e1e1;
}

#ui-confirm-cancel{
	float: left;
	height: 50px;
	line-height: 50px;
	background: #fafafa;
	color: #999;
	display: block;
	width: 50%;
	border-radius: 0 0 .4em 0;
	border-top: solid 1px #e1e1e1;
}


.is-visible .ui-confirm-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .ui-confirm-container {
	margin: 8em auto;
  }
}

/************dialog**************/
.ui-dialog {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 10005;
  font-size: 14px;
}
.ui-dialog.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.ui-dialog-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #fff;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
/*  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.ui-dialog-container p {
  padding: 3em 1em;
  color: #333;
}

#close-dialog{
	height: 50px;
	line-height: 50px;
	background: #fafafa;
	color: #00aefd;
	display: block;
	width: 100%;
	border-radius: 0em 0em .4em .4em;
	border-top: solid 1px #e1e1e1;
}


.is-visible .ui-dialog-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
	.ui-dialog-container {
		margin: 8em auto;
	}
}

#main-customer .customer-btn{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: none;
	position: fixed;
	right: 10px;
	bottom: 88px;
	background-image: url(../images/customer.png);
	background-position: center;
	background-size: 44px;
	background-repeat: no-repeat;
}

footer p{
  color: #3a3a3a;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

footer .footer-active{
  color: #f60;
}

.free-course-modal, .get-free-ok{
  position: fixed;
  top: 80px;
  left: -webkit-calc(50% - 130px);
  left: -moz-calc(50% - 130px);
  left: calc(50% - 130px);
  width: 260px;
  height: 170px;
  z-index: 10003;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  display: none;
  font-size: 14px;
}
.get-free-ok > img{
	display: block;
	margin: 15px auto;
	width: 60px;
}
.free-course-modal > div{
	padding-left: 15px;
}
.free-course-modal > div input{
	line-height: 26px;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 150px;
	border-radius: 0;
}
.free-course-modal > div button{
	border: none;
	background-color: #f60;
	color: #fff;
	line-height: 28px;
	padding: 0 10px;
	float: right;
	margin-right: 15px;
}
.free-course-modal .free-top, .get-free-ok .free-top{
	margin: 0;
	padding: 0;
	height: 34px;
	line-height: 34px;
	background-color: #f60;
	color: #fff;
	margin-bottom: 15px;
}
.free-course-modal > p, .get-free-ok > p{
	margin-bottom: 15px;
	padding-left: 15px;
}
.free-course-modal .free-top > i, .get-free-ok .free-top > i{
	float: right;
	margin: 0;
	padding: 0 15px;
	line-height: 34px;
}
.free-mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  background-color: rgba(0,0,0,0.1);
  display: none;
}

/*gaoxj*/
@media (min-width: 768px) {
	.navbar-nav {
	    height: 50px;
	}
	.navbar-nav>li {
	    height: 100%;
	}
	.navbar-default .navbar-nav>li>a {
	    display: block;
	    padding-left: 8px;
	    padding-right: 8px;
	}
}
/*gaoxj*/