#body{
	background-color:#EFEFEF;
}
.tab{
	width: 100%;
	height: 40px;
	background-color: #fff;
}
.tab-left{
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align:center;
    font-size: 17px;
    color: #FD6700;
    float: left;
}
.tab-right{
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align:center;
    font-size: 17px;
    color: #000;
    float: right;
}
.line-left{
	background-color: #FD6700;
	width: 100%;
	height: 2px;
}
.line-right{
	background-color: #FD6700;
}
.line-order{
	width: 100%;
	height: 1px;
	background-color: #C9C9C9;
}
.list{
	margin-top: 10px;
	margin-bottom: 40px;
}
.list li{
	list-style:none;
	margin-top: 10px;
    width: 100%;
	background-color: #fff;
}
.top-part{
	width: 95%;
	margin-left: 5%;
}
.order_number{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #aaa;
}
.bottom-part{
    width: 100%;
    height: 100px;
}
.name-price{
	width: 65%;
	margin-left: 5%;
	height: 40px;
	float: left;
	background-color: #fff;
}
.pay-button{
	width: 30%;
	height: 100px;
	float: right;
	background-color: #fff;
}
.name{
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-top:5%;
}
.price-now{
    width: 50%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    float: left;
    margin-top:5%;
}
.price-before{
    width: 50%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #aaa;
    text-decoration: line-through;
    float: right;
    margin-top:5%;
}
.pay{
    width: 70%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: white;
    background-color: #39DB93;
    text-align: center;
    border-radius: 4px;
    margin-top:13%;
    margin-left:10%;
}
.cancle{
    width: 70%;
	height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: white;
    background-color: #C9C9C9;
    text-align: center;
    border-radius: 4px;
    margin-top:17%;
    margin-left:10%;
}
.paid{
	width: 70%;
	height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: white;
    background-color: #FD6700;
    text-align: center;
    border-radius: 4px;
    margin-top:50%;
    margin-left:10%;
}
.cancled{
	width: 70%;
	height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: white;
    background-color: #959595;
    text-align: center;
    border-radius: 4px;
    margin-top:50%;
    margin-left:10%;
}

.choose{
    display: none;
    position: fixed;
    width: 100%;
    height: 140px;
    bottom: 0;
    background-color: #39DB93;
}
.choose div{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
}

.no-orders {
	display: none; 
	background-image: url(../images/logo.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
	padding-top: 180px;
	font-size: 18px;
	color: #b9b9b9;
	width: 200px;
	margin: 100px auto 150px;
	text-align: center;
}

.black-bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 998;
}

.tip {
    position: fixed;
     display: none; 
    width: 60%;
    height: 350px;
    margin-top: 30%;
    margin-left: 20%;
    background: white;
}

.text-bg {
    width: 100%;
    height: 30px;
    background-color: #f60;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
}

.text-bg2 {
    width: 90%;
    /* width: 260px; */
    margin-left: 5%;
    margin-top: 20px;
    font-size: 10px;
}

#qrcode {
    /*display: none;*/
    margin-top: 20px;
    margin-left: 10%;
    /*position: fixed;*/
    z-index: 1000;
}

#pay-done {
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    background: #f60;
    color: white;
    font-size: 14px;
    border-radius: 15px;
}