.no-orders {
	/*display: none; */
    background-image: url(../images/logo.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
	padding-top: 180px;
	font-size: 18px;
	color: #b9b9b9;
	width: 200px;
	margin: 20px auto 150px;
	text-align: center;
}