body{
	background-color: #f3f3f3;
}
nav.top{
	text-align: center;
}
nav.top span{
	display: inline-block;
	padding: 5px 20px;
	margin: 5px 30px;
}
nav.top .active{
	border-bottom: 3px solid #f60;
	color: #f60;
}
.ing-view{
	background-color: #fff;
	margin: 10px 20px;
	display: none;
}
#none-data{
	display: block;
}
.ing-view>p{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	margin: 0;
}
.ing-content{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.ing-content > img{
    width: 30%;
    vertical-align: middle;
    margin-right: 10px;
}
.ing-content > span{
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	white-space: normal;
}
.ing-content-time{
	padding: 10px;
}
.ing-content-time > div{
	display: inline-block;
}
.ing-content-time > div:last-child{
	float: right;
}
.ing-content-time p{
	margin: 10px 0;
	padding: 0;
}
.post-back > button{
	width: -webkit-calc(100% - 60px);
	width: -moz-calc(100% - 60px);
	width: calc(100% - 60px);
	margin: 15px 0 15px 30px;
	border: 1px solid #f60;
	color: #f60;
	background-color: #fff;
	padding: 10px 0;
	border-radius: 5px;
}
.deposit-back p{
	text-align: center;
	font-size: 14px;
	color: #666;
}
.deposit-back p span{
	color: #f60;
}
.deposit-back p .deposit-back-btn{
	margin-left: 15px;
}
.ing-content-time .no-post{
	width: 70%;
	margin-left: 15%;
	margin-bottom: 15px;
}
.ing-content-time .no-data{
	text-align: center;
	font-size: 14px;
	color: #666;
}
.ing-view > img.none-any-data{
	width: 70%;
	margin: 30px 15%;
}
.ing-view > p.none-any-data{
	font-size: 14px;
	color: #666;
	text-align: center;
}
.scroll{
    white-space: nowrap;
    width: 100%;
    overflow: scroll;
}
#done-data{
	display: inline-block;
}
.done-block .scroll{
	padding-left: 20px;
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: calc(100% - 20px);
}
.done-block .scroll:after{
	content: '\20';
	display: block;
	clear: both;
}
.done-block .scroll .done-view{
	margin: 10px 10px 10px 0;
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px;)
	width: calc(100% - 20px);
}
.done-block .scroll .done-view:last-child{
	margin-right: 20px;
}
.mask{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 10001;
}
.can-not-back, .back-deposit-view{
	display: none;
	background-color: #fff;
	border-radius: 5px;
	position: fixed;
	width: 80%;
	top: 80px;
	left: 10%;
	z-index: 10003;
	text-align: center;
}
.can-not-back img, .back-deposit-view img{
	width: 30%;
	margin: 30px 35%;
}
.can-not-back > p, .back-deposit-view > p{
	margin: 0 0 15px 0;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.can-not-back button{
	width: -webkit-calc(100% - 60px);
	width: -moz-calc(100% - 60px);
	width: calc(100% - 60px);
	color: #fff;
	background-color: #f60;
	margin: 15px 0;
	border: none;
	padding: 10px 0;
	border-radius: 5px;
}
.back-deposit-view input{
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin: 0 0 10px 0;
}
.back-deposit-view button{
	border: none;
	background-color: #eee;
	width: 80px;
	height: 38px;
	line-height: 38px;
	border-radius: 5px;
	margin: 5px 20px;
	color: #666;
}
.back-deposit-view .orange{
	color: #fff;
	background-color: #f60;
}