body .body{
    margin-bottom: 0;
}
.body .top-banner img{
	width: 100%;
	vertical-align: top;
}
.body .question-content{
    padding: 15px;
    font-size: 15px;
    background-color: #fff;
}
.body .question-tips{
	font-size: 14px;
    color: #888;
}
.body .answer-input input{
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: -o-calc(100% - 150px);
    width: calc(100% - 150px);
    font-size: 15px;
}
.body .answer-input .submit-btn{
    padding: 10px;
    background-color: #ff7764;
    color: #fdef58;
    margin-top: 0px;
    display: inline-block;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    margin-left: 5px;
    vertical-align: middle;
}
.body .answer-tips{
    position: fixed;
    top: 150px;
    width: calc(100% - 100px);
    left: 50px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1003;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
}
.body .answer-tips .title{
    font-size: 16px;
}
.answer-wrang-btns{
    line-height: 40px;
    border-top: 1px solid #ccc;
    height: 40px;
    font-size: 14px;
}
.answer-wrang-btns span{
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
.answer-wrang-btns .wait-times{
    width: 100%;
}
.answer-wrang-btns .go-on{
    color: #ff7764;
}
.answer-wrang-btns button{
    width: 100%;
    background-color: #ff7764;
    border: none;
    height: 100%;
    display: block;
    color: #fdef58;
    font-size: 14px;
}
.body .answer-mask{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1001;
}
.others-answer header{
    background-color: #ececec;
    padding: 15px;
}
.others-answer .others-avatar{
    display: inline-block;
    width: 60px;
    vertical-align: middle;
}
.others-answer .others-avatar img{
    width: 100%;
    border-radius: 50%;
}
.others-answer .others-name{
    display: inline-block;
    width: 150px;
    margin-left: 10px;
    vertical-align: middle;
}
.others-answer .others-name p{
    margin: 10px 0;
    font-size: 14px;
}
.others-answer .others-name p:first-child{
    color: #888;
}
.others-answer > ul{
    padding-left: 15px;
}
.others-answer > ul > li{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.others-answer .get-HB{
    display: inline-block;
    color: #ff7764;
}
.others-answer{
    background-color: #fff;
}

.to-wechatHb{
    display: block;
    color: #08aaf6;
    font-size: 13px;
    text-align: center;
    background-color: #fff;
}