/* .reply_content .main-div img{
	width:40px;
	height:40px;
	margin-left:20px;
}
.reply_content .main-div .reply-ft{
	color:#5d7895;
	cursor:pointer;
	padding-top:0px;
} */
.copy-reply_textarea{
	
}
.btn-left{
	float: right;
}